# Core functionality - changes here should be rare!
/src/app.py                   @unknownguy49
/src/backend/database.py      @unknownguy49
/src/backend/routers/auth.py  @unknownguy49

# The frontend will need refactored soon to be more object oriented.
/src/static/   @unknownguy49
